div{

     right:30px;
    border:3px red
}
div.absolute{  
     position :absolute;
     left:100px;
     border:3px solid green
}
div.fixed{

     position:fixed;
     top:
     right:
}
